body {
  font-family: Georgia;
  font-size: 34px;
  margin:10px;
  color: #777;
  line-height: 45px;
  background-size: 100%;
  background-image: url("https://wallpaperscraft.com/image/gold_jewels_bright_80256_1600x900.jpg");
  background-repeat: repeat-y;
  background-size: 125%;

}
.jumbotron {
	background-color: black;
	color: white;
}
